In [1]:
import pandas as pd
import numpy as np

In [7]:
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", 10)
uncleaned_ml_combined=pd.read_csv("../CSVs/uncleaned_ml_combined.csv",index_col=False)

In [8]:
uncleaned_ml_combined.head()

,Longitude,Latitude,Year_final,Lake_area_calculated_ha,Elevation_m,Lake_type_simplified,is_supraglacial,glacier_area_ha,slope_glac_to_lake,glacier_contact,glacier_touch_count,nearest_glacier_dist_m,glacier_elev_m,5y_expansion_rate,10y_expansion_rate,GLOF
0,74.609,42.522,1984,NaN,3466,other,0,536.125805,0.000000,1,2,0.000000,3985.0,NaN,NaN,1
1,79.846,42.207,1984,NaN,3269,ice,0,396.118156,2.959854,0,0,446.305779,4590.0,NaN,NaN,1
2,77.193,35.677,1984,NaN,4779,ice,0,9444.515664,0.718550,0,0,1036.810675,5524.0,NaN,NaN,1
3,83.967,29.307,1985,NaN,4594,other,0,NaN,NaN,0,0,NaN,NaN,NaN,NaN,1
4,74.633,36.039,1985,NaN,3301,other,0,6998.712273,0.000000,1,3,0.000000,4575.0,NaN,NaN,1

In [5]:
uncleaned_ml_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2652 entries, 0 to 2651
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Longitude                2652 non-null   float64
 1   Latitude                 2652 non-null   float64
 2   Year_final               2652 non-null   int64
 3   Lake_area_calculated_ha  2590 non-null   float64
 4   Elevation_m              2652 non-null   int64
 5   Lake_type_simplified     2652 non-null   object
 6   is_supraglacial          2652 non-null   int64
 7   glacier_area_ha          2063 non-null   float64
 8   slope_glac_to_lake       2063 non-null   float64
 9   glacier_contact          2652 non-null   int64
 10  glacier_touch_count      2652 non-null   int64
 11  nearest_glacier_dist_m   2063 non-null   float64
 12  glacier_elev_m           2063 non-null   float64
 13  5y_expansion_rate        2537 non-null   float64
 14  10y_expansion_rate       2478 non-null   float64
 15  GLOF                     2652 non-null   int64
dtypes: float64(9), int64(6), object(1)
memory usage: 331.6+ KB